.legal {
    display: inline;
    position: relative;
    left: 45%;

    border-radius: 5px;
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.8 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    width: 10%;
    text-align: center;
    padding: 10px;
    color: black;
    text-decoration: none;

}

.legal:hover {

    transition: all 1s;

    background: rgba( 255, 255, 255, 0.8 );
    box-shadow: 0 0 5px #FFFF;
}