@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap%27');

@media screen and (max-width: 480px) {
    .logo_company {
        display: none !important;
    }

    .card_company {
        max-height: 150px !important;
        min-height: 120px !important;
    }

}

body {
    background-image: url("../images/background.webp");
}

label {
    color: white;
}

.color-white {
    color: white;
}

html {
    font-family: 'Roboto', sans-serif;
}

.modal label {
    color: black !important;
}

.modal-content {
    background-color: rgb(194, 194, 194);
}

.errorMsg {
    color: red;
}
