@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap%27');

@media screen and (max-width: 480px) {
    .logo_company {
        display: none !important;
    }

    .card_company {
        max-height: 150px !important;
        min-height: 120px !important;
    }

}

body {
    background-image: url("../images/background.png");
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
}

.nav {
    background-color: #2C74B3;
}


label {
    color: white;
}

.color-white {
    color: white;
}

html {
    font-family: 'Roboto', sans-serif;
}

footer {
    display: block;
}

footer a {
    margin-top: auto 0;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: 2px 2px 10px #7d7d7d86, -2px -2px 10px #6e6e6e77;
    margin: 15px;
}

.links footer a {
    margin-top: auto 0;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: 2px 2px 10px #7d7d7d86, -2px -2px 10px #6e6e6e77;
    margin: 15px;
}

p {
    color: rgb(74, 73, 73);

}

h5 {
    color: white !important;
}

.card h5 {
    color: black !important;
}

.modal label {
    color: black !important;
}

.modal-content {
    background-color: rgb(194, 194, 194);
}

.errorMsg {
    color: red;
}

.logo_company {
    height: 100% !important;
    border-radius: 20px !important;
}

.card_company {
    border-radius: 20px !important;
    height: 150px !important;
}